header
  position: absolute
  top 0
  left 50%
  transform: translate(-50%, 0)
  z-index: 100
  padding: 20px
  background-color: #f0edf2
  border: 3px solid #2e4459
  border-radius: 5px
  margin-top: -5px
  text-align: center
  p
    text-align: left

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


#loading-error-message
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  animation: fadeIn ease 60s;

.hidden
  display none

.desktop-controls
  z-index: 99
  position: absolute
  top: 0
  left: 0
  user-select: none
  & > .control
    display: block
    margin: 3px
    background: radial-gradient(rgba(100 100 100 1.0), rgba(0 0 0 0))
    border-radius 100%
    border: 1px solid white

.keyboard-form
  z-index: -9
  position: absolute;
  bottom: 0
  left: 50%
  transform: translate(-50%, 0);
  &:focus
    z-index: 999

.debug
  position: absolute
  left: 0
  top: 0
  z-index: 999

.spectator-canvas
  position: absolute
  right: 0
  bottom: 0
  z-index: 99
  width: 30%
  height: 20%
  border: 1px solid black

.crash-bg
  position: absolute
  top: 0
  left: 0
  z-index: 100
  width: 100%
  height: 100%
  background-color: rgba(0.3, 0.3, 0.3, 0.3)

#crash-handler
  background: white
  width: 80%
  max-width: 80em
  border: 1px solid darkred
  box-shadow: 3px 3px 10px darkred
  padding: 0.3em
  position: absolute
  top: 10%
  max-height: 90%
  overflow-y: auto

#loading-page
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99
  background-color: #cccccc
  background-image: url("./static/images/loading.webp")
  background-position: center /* Center the image */
  background-repeat: no-repeat /* Do not repeat the image */
  background-size: cover
  color: white
  .loading-bar
    width: 80%
    height: 10px
    border-radius: 10px
    border: 1px solid white
    transform: translateX(10%)
    box-shadow: 0 0 5px 5px #3b3666
    .loading-progress
      width: 0%
      height: 100%
      border-radius: 10px
      // background-color: #e1c7f2//rgba(255, 0, 0, 0.5)
      background: linear-gradient(#fcf7ff, #e1c7f2, #3b3666)

.bottom-bar
  position: absolute
  bottom: 0
  left: 50%
  width: 50%
  transform: translateX(-50%)
  background-color: rgba(44, 44, 44, 0.3)
  border-radius: 5px
  text-align: center
  font-size: 175%
